* {
  font-family: roboto, monospace;
  font-size: 18px;
  padding: 0;
  margin: 0; }

#root {
  width: 80%;
  margin: 2% auto; }

.loading-container {
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center; }

.image-container {
  width: 100%; }
  .image-container .img {
    display: inline-block;
    object-fit: cover;
    height: 300px; }

@media screen and (min-width: 751px) {
  .img {
    width: 23%;
    margin: 2% 1%; } }

@media screen and (max-width: 750px) {
  .img {
    width: 43%;
    margin: 2% 1%; } }

@media screen and (max-width: 500px) {
  .img {
    width: 100%;
    margin: 2% 0; } }

.tag {
  margin: 0 2px !important; }

